
<footer class="footer">
  <div class="footer-icons">
  <a class="footer-links" href="https://www.linkedin.com/in/nika-tsivilashvili-21b8831ab/"><img src="../../../assets/icons/linkedin.svg"/></a>
  <a class="footer-links" href="https://www.facebook.com/tsivillaa/"><img src="../../../assets/icons/facebook.svg"/></a>
  <a class="footer-links" href="https://www.instagram.com/tsivilla/"><img src="../../../assets/icons/instagram.svg"/></a>
  <a class="footer-links" href="mailto:wivila2000nika@gmail.com"> <img src="../../../assets/icons/envelope.svg"/></a>
</div>
  <p class="footer-links"><fa-icon [icon]="faCopyright"></fa-icon> Copyright 2021 EBook</p>
</footer>
