<div
  class="container-fluid"
  style="height: 10px; background-color: #1a263a"
></div>

<div class="header">
  <div class="col-md-3 text-#1a263a">
    <h3>
      <fa-icon [icon]="faBook" style="margin-left: 10px"></fa-icon> Ebooks
    </h3>
  </div>
  <div class="col-md-6">
    <form [formGroup]="filterForm" class="d-flex">
      <input
        formControlName="searchByName"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-dark" (click)="search()" type="button">
        Search
      </button>
    </form>
  </div>
  <div class="col-md-2 login-container" style="display: flex; justify-content: flex-end;">
    <a class="btn btn-success" (click)="goToLogin()"
      ><fa-icon style="margin-right: 5px" [icon]="faSignIn"></fa-icon>
      <span *ngIf="!logOut">Log In</span> <span *ngIf="logOut">Log Out</span></a
    >
    <a class="btn btn-primary" *ngIf="!logOut" (click)="goToRegister()">Register</a>
  </div>
</div>

<div class="header-container">
  <div class="header-container-nav" id="navbarSupportedContent">
    <ul class="header-container-list">
      <li>
        <a aria-current="page" (click)="goToHome()">
          <fa-icon [icon]="faHome"></fa-icon> Home</a
        >
      </li>
      <li>
        <a href="#programming">
          <fa-icon [icon]="faOpenBook"></fa-icon> Programming</a
        >
      </li>
      <li>
        <a href="#comics"> <fa-icon [icon]="faOpenBook"></fa-icon> Comics</a>
      </li>
      <li>
        <a href="#novels"> <fa-icon [icon]="faOpenBook"></fa-icon> Novels</a>
      </li>
      <li *ngIf="loggedUser?.roles[0]">
        <a (click)="goToMyBooks()"> <fa-icon [icon]="faOpenBook"></fa-icon> My Books</a>
      </li>
    </ul>
    <form class="form">
      <button
        class="form-btn"
        *ngIf="loggedUser?.roles[0]"
        (click)="goToCart()"
      >
        <fa-icon  [icon]="faCart"></fa-icon>
      </button>
      <button
        class="form-btn"
        (click)="navigateAdmin()"
        *ngIf="loggedUser?.roles[0] === 'ROLE_ADMIN'"
      >
        <fa-icon [icon]="faUsers"></fa-icon> User Panel
      </button>
      <button
        class="form-btn"
        (click)="navigateBooks()"
        type="submit"
        *ngIf="loggedUser?.roles[0] === 'ROLE_ADMIN'"
      >
        <fa-icon [icon]="faAddressBook"></fa-icon> Books Panel
      </button>
    </form>
  </div>
</div>
