<app-header></app-header>
<div class="container-fluid back-img ">
  <h1 style="color: white;">EBook Store</h1>
</div>

<section class="book-section" id="programming">
  <h2 class="text-center" style="font-family: Montserrat,serif">Programming Section</h2>

  <div class="book-cards" >

    <!--  //First container-->
    <ng-container  *ngFor="let book of programming$;"  >
    <div class="container-div"  *ngIf="book.category[0]?.name === 'PROGRAMMING'">
      <div class="book-div">
        <div class="img-div">
          <img class="img-dimensions" [src]="book.imageUrl" alt="?" />
        </div>

        <span style="margin-top: 5px;">Name: {{book.name}}</span>
        <span>Author: {{book.author}}</span>
        <span>Category: {{book.category[0].name | titlecase}}</span>
      </div>

      <!--//Buttons-->
      <div class="button-div">
        <button class="container-buttons" (click)="addToCart(book)">Add to cart</button>
        <button class="container-buttons" (click)="viewDetails(book)">View Description</button>
        <button class="container-buttons">Price: {{book.price}} <fa-icon [icon]="faDollar"></fa-icon></button>
      </div>
    </div>
  </ng-container>
  </div>


  <div class="view-all-div">
    <button class="view-all"  (click)="openFullPost('programming')">View all</button>
  </div>
</section>
<section class="book-section" id="comics">
  <h2 class="text-center" style="font-family: Montserrat,serif">Comics Section</h2>

  <div class="book-cards" >

    <!--  //First container-->
    <ng-container  *ngFor="let book of comics$;"  >
    <div class="container-div"  *ngIf="book.category[0]?.name === 'COMICS'">
      <div class="book-div">
        <div class="img-div">
          <img class="img-dimensions" [src]="book.imageUrl" alt="?" />
        </div>

        <span style="margin-top: 5px;">Name: {{book.name}}</span>
        <span>Author: {{book.author}}</span>
        <span>Category: {{book.category[0].name | titlecase}}</span>
      </div>

      <!--//Buttons-->
      <div class="button-div">
        <button class="container-buttons" (click)="addToCart(book)">Add to cart</button>
        <button class="container-buttons" (click)="viewDetails(book)">View Description</button>
        <button class="container-buttons">Price: {{book.price}} <fa-icon [icon]="faDollar"></fa-icon></button>
      </div>
    </div>
  </ng-container>
  </div>


  <div class="view-all-div">
    <button class="view-all" (click)="openFullPost('comics')">View all</button>
  </div>
</section>
<section class="book-section" id="novels">
  <h2 class="text-center" style="font-family: Montserrat,serif">Novels Section</h2>

  <div class="book-cards" >

    <!--  //First container-->
    <ng-container  *ngFor="let book of novels$;"  >
    <div class="container-div"  *ngIf="book.category[0]?.name === 'NOVELS'">
      <div class="book-div">
        <div class="img-div">
          <img class="img-dimensions" [src]="book.imageUrl" alt="?" />
        </div>

        <span style="margin-top: 5px;">Name: {{book.name}}</span>
        <span>Author: {{book.author}}</span>
        <span>Category: {{book.category[0].name | titlecase}}</span>
      </div>

      <!--//Buttons-->
      <div class="button-div">
        <button class="container-buttons" (click)="addToCart(book)">Add to cart</button>
        <button class="container-buttons" (click)="viewDetails(book)">View Description</button>
        <button class="container-buttons">Price: {{book.price}} <fa-icon [icon]="faDollar"></fa-icon></button>
      </div>
    </div>
  </ng-container>
  </div>


  <div class="view-all-div">
    <button class="view-all" (click)="openFullPost('novels')">View all</button>
  </div>
</section>




<app-footer></app-footer>
